@import url("base.css");
.head{
	width: 100%;
	height: 30px;
	background: #f5f5f5;
	
}
.tou{
	width: 1200px;
	height: 30px;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
}
.tou-left{
	width: 202px;
	height: 30px;
	
}
.tou-right{
	width: 613px;
	height: 30px;
	
	display: flex;
	justify-content: space-between;
}
.tou-left span{
	font-size: 12px;
	text-align: center;
	line-height: 30px;
}
.tou-left a{
	font-size: 12px;
	color: #E40077;
	padding-left:35px;
}
.tou-right-a1{
	font-size: 12PX;
	line-height: 30PX;
}
.dabox{
	width: 100%;
	height: 100%;
	background-image: url(../img/zgyd.jpg);
}
.ban{
	width: 100%;
	height: 88px;
	
	
}
.banneikuang{
	width: 1200px;
	height: 100%;
	/*background: green;*/
	margin: 0 auto;
	overflow: hidden;
}
.ban-zuo{
	margin: 20px auto;
	float: left;
}
.banxia{
	float: left;
	padding: 40px 20px;
}
.ban-you{
	width: 500px;
	height: 67px;
	
	float: right;
	margin-top: 21px;
}
.sou-top{
	position: relative;
	border: 1px solid #E40077;
	box-sizing: border-box;
}
.btn{
	width: 80px;
	height: 36px;
	float: right;
}
.ss{
	width: 80px;
	height: 100%;
	background: #E40077;
	position: absolute;
	right: 0;
	top: 1px;
	color: white;
	line-height: 36px;
	text-align: center;
}
.sou-top input{
	width:496px;
	height:34px;
}
.sou-top input:focus{
	outline: none;
}
.sou-top a{
	display: block;
	width: 44px;
	height: 40px;
	background: #c32117;
	float: right;
	color: white;
	text-align: center;
	line-height: 40px;
}
.sousuo{
	width: 380px;
	height: 32px;
	box-sizing: border-box;
	
}
.sousuo3-i1{
	width: 83px;
	height: 32px;
	background:#E40077;
	box-sizing: border-box;
}
.sousuo3-i1:focus{
	outline: none;
}
.sou-bottom{
	padding-top: 5px;
}
.sou-bottom a{
	font-size: 12px;
	padding-right: 8px;
	
}
.sou-bottom a:hover{
	color: #337ab7;
}
.dh{
	white-space: 100%;
	height: 48px;

}
.dhnei{
	
	width: 1200px;
    height: 47px;
    margin: 0 auto;
    border-bottom: 1px solid #3eb4fa;
    position: relative;
}
.dh1{
	width: 235px;
	height: 48px;
	background: #3eb4fa;
	float: left;
}
.dh1 a{
	text-align: center;
	line-height: 48px;
	color: white;
	display: block;
}
.dhnei ul li{
	float: left;
	padding-left: 29px;
	line-height: 48px;
	color: black;
	font-size: 14px;
}
.banner{
	width: 1200px;
	height: 400px;
	margin: 0 auto;
	
	position: relative;
	
}
.aside{
	width: 235px;
	height: 398px;
	background: white;
	overflow: hidden;
}
.aside ul{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.aside ul li{
	width: 233px;
	height: 52px;
	
	overflow: hidden;
}
.zuo{
	float:left;
	margin-left: 25px;
	margin-top: 10px;
}
.banyewu{
	float: left;
    display: block;
    width: 201px;
    height: 50px;
    padding-left: 31px;
    font: 16px/50px "microsoft yahei";
    color: #333333;
    transition: all 0.2s;
}
.banyewu:hover{
	border-bottom:1px solid #3EB4FA;
	border-left: 1px solid #3EB4FA;
	border-top: 1px solid #3EB4FA;
	
}
.ywt{
	display: inline-block;
    vertical-align: middle;
}
@font-face {
  font-family: 'iconfont';  /* project id 506504 */
  src: url('http://at.alicdn.com/t/font_506504_wepv2e4escwka9k9.eot');
  src: url('http://at.alicdn.com/t/font_506504_wepv2e4escwka9k9.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_506504_wepv2e4escwka9k9.woff') format('woff'),
  url('http://at.alicdn.com/t/font_506504_wepv2e4escwka9k9.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_506504_wepv2e4escwka9k9.svg#iconfont') format('svg');
}
.iconfont{
	font-family:'iconfont' ;
	font-size: 12px;
	margin-left: 10px;
}
.zuo span{
	padding-left: 10px;
}
.you{
	float: left;
	margin-left: 90px;
	margin-top: 10px;
}
.aside ul li:first-child{
	margin-top: 10px;
}
.img-box{
	width: 705px;
	height: 100%;
	background: darkgrey;
	position: absolute;
	top: 0;
	left: 235px;
}
.img-box li{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left:0;
	opacity: 0;
}
.img-box li a{
	width: 100%;
	height: 100%;
	display: block;
}
.xiaoyuan{
	width: auto;
	height: 10px;

	position: absolute;
	bottom: 20px;
	left:500px;	
	z-index: 999;
}
.xiaoyuan li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: red;
	float: left;
	margin-right: 10px;
	background-color: rgba(0,0,0,0.6);
}
.img-box .active{
	opacity: 1;
}
.xiaoyuan .active{
	background: red;
}
.jtz {
    opacity: 0;
    cursor: pointer;
    width: 34px;
    height: 69px;
    position: absolute;
    left: 0px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    z-index:9999;
}
.jty{

    cursor: pointer;
    opacity: 0;
    width: 34px;
    height: 69px;
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 20;
}
.img-box:hover .jtz{
	opacity: 1;
}
.img-box:hover .jty{
	opacity: 1;
}
.aside2{
	width: 260px;
	height: 398px;
	background:white;
	position: absolute;
	top: 0;
	right: 0;
	
}	
.aside2-top{
	
	width: 258px;
    margin: 0 auto;
    padding: 20px 0 0;
	
	overflow: hidden;
}	
.aside2-bottom{
	width: 230px;
	height: 189px;
	overflow: hidden;
	margin: 0 auto;
}
.aside2-top ul li{
	width: 86px;
	height: 74px;
    float: left;
    text-align: center;

}
.aside2-top ul li a{
	display: block;
    cursor: pointer;
    color: #333333;

    width: 86px;
    height: 74px;
}

.hftp{
	margin-left: 16px;
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    transition:all 0.2s;
}
.hftp:hover{
	transform: scale(1.2);
	}
	

 	
.aside2-top span{
	width: 86px;
    padding: 10px 0 20px;
    font: 12px/12px "microsoft yahei";
    text-align: center;
}
.ab-1{
	
	    display: block;
    float: left;
    padding: 0px 0px 5px;
    margin: 0 15px;
    font: 14px/14px "microsoft yahei";
    color: #3eb4fa;
    border-bottom: 2px solid #3eb4fa;
}
.ab-2{
	    display: block;
    float: left;
    padding: 0px 0px 5px;
    margin: 0 15px;
    font: 14px/14px "microsoft yahei";
    color: #222222;
    border-bottom: 2px solid #ffffff;
}
.liuliang{
	width:230px;
	height: 148px;

	margin: 30px auto 0;
}
.kuang{
	
	width: 208px;
    height: 33px;
    padding: 0 10px;
    font: 12px/33px "microsoft yahei";
    border: 1px solid #dadada;
    color: #dadada;
}
.money{
	 
    height: auto;

	padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.sanshi {
	width: 37px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    margin-right: 8px;
    text-align: center;
    border: 1px solid #dadada;
    border-radius: 3px;
    display: inline-block;
}
.sanshi:hover{
	background:#e30077 ;
	color: white;
}
.sanshi1{
	width: 37px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    margin-right: 8px;
    text-align: center;
    border: 1px solid #e30077;
    background: #e30077;
    border-radius: 3px;
    display: inline-block;
    color: white;
}	
.cz{
	width: 230px;
    margin: 0 auto;
    padding-top: 12px;
}
.cz a{
	display: inline-block;
    float: right;
    width: 129px;
    height: 34px;
    font: 14px/34px "microsoft yahei";
    border-radius: 2px;
    text-align: center;
    color: #ffffff!important;
    background: #3eb4fa;
}
.youhui{
	width: 1200px;
	height: 170px;
	
	margin: 20px auto 0;
	
}
.youhui ul{
	width: 1200px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin: 20px auto 0;
}
.youhui li{
	width: 235px;
	height: 170px;
}
.youhui ul .yhb{
	position: relative;
	background: #F4F4F4;
}
.youhui ul .yhb img{
	position: absolute;
	bottom: 0;
	right: 0;
}
.youhui ul .yhb h3{
	padding: 10px;
}
.youhui ul .yhb span{
	margin-left: 10px;
}
/*1f 享优惠开始*/
.xyhbox{
	width: 1200px;
	height: 535px;
	
	margin: 0 auto;
}
.xyhtop{
	width: 1200px;
	height: 67px;
	
}
.xyhbottom{
	width: 1200px;
	height: 468px;
	
	border: 1px solid #e8e8e8;
}

.title{
	float: left;
    display: block;
    padding-top: 32px;
    font: 22px/22px "microsoft yahei";
    color: #222222;
}
.titleright{
	float: right;
	display: block;
	padding-top: 38px;
	color: black;
	
}
.titleright li a{
	color:#666666;
}
.titleright .qb{
	 color: #e30077;
}
.qb1:hover{
	color:#3eb4fa;
}

.titleright  li{
	float: left;
	display: block;
	padding-right: 10px;
	font-size: 14px;
}
.colyi{
	width: 476px;
	height: 466px;
	
	float: left;
	border-right: 1px solid #e8e8e8;
}
.box1{
	width: 475px;
    height: 325px;
    border-bottom:1px solid #e8e8e8; 
}
.colyi img{
	display: block;
}

.box2{
	width: 475px;
    height: 140px;
    position: relative;
}
.box2 h4{
	font-size: 18px;
	font-family: "微软雅黑";
	color: #222222;
	position: absolute;
	top: 50px;
	left: 25px;
}
.box2 p{
	font-size: 14px;
	color: #222222;
	position: absolute;
	top: 78px;
	left: 25px;
	color: #808080;
}
.box2 img{
	position: absolute;
	top: 0;
	right: 0;
}
   
.coler{
	float: left;
    width: 240px;
    height: 466px;
    border-right: 1px solid #e8e8e8;
   
}
.box3{
	width: 240px;
    height: 232px;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
   
}
.end{
	border:0
}
.box3 h4{
	
	width: 210px;
    padding: 30px 15px 0;
    font: 18px/20px "microsoft yahei";
    color: #222222;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.box3 p{
	font-size: 14px;
	padding: 10px 15px 0;
	color:#808080;
}
.box3 img{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.colthree{
	float: left;
    width: 240px;
    height: 466px;
    border-right: 1px solid #e8e8e8;
   
    position: relative;
}
.colthree h4{
	width: 210px;
    padding: 24px 15px 0;

	 font: 18px/20px "microsoft yahei";
    color: #222222;
}
.colthree p{
	width: 210px;
    padding: 10px 15px 0;
    font: 14px/14px "microsoft yahei";
    color: #808080;
}  
.colthree img{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}  
.coler four{
	float: left;
    width: 240px;
    height: 466px;
}
/*3f开始*/
.boxphone{
	width: 475px;
	height: 360px;

	position: relative;
	border-bottom: 1px solid #e8e8e8
}
.boxphone h4{
	float: left;
    width: 200px;
    padding: 25px 0 0 30px;
    font: 100 22px/34px "microsoft yahei";
    color: #222222;



}
.boxphone p{
	float: left;
    width: 220px;
    padding: 13px 0 0 30px;
    font: 14px/14px "microsoft yahei";
    color: #808080;



}
.boxphone span{
	display: block;
    float: left;
    width: 220px;
    padding: 40px 0 0 30px;
    font: 24px/24px "microsoft yahei";
    color: #e40077;

    overflow: hidden;

}
.boxphone img{
	position: absolute;
	right: 0;
	bottom: 0;
}
.boxphone2{
	width: 475px;
	height: 105px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}
.box3 span{
	display: block;
    width: 210px;
    padding: 10px 15px 0;
    font: 16px/16px; 
    color: #e40077;

    overflow: hidden;

}
.colthree span{
	display: block;
    width: 210px;
    padding: 30px 15px 0;
    font: 22px/22px
    color: #e40077;

	

}	
.znbox1{
	width: 475px;
    height: 115px;
    margin: 0 auto;
    border-bottom: 1px solid #e8e8e8;
    background: #ffffff;
    position: relative;

}
.znbox1:last-child{
	height: 118px;
	border-bottom: none;
}

.znbox1 h4{
	float: left;
    width: 260px;
    padding: 25px 0 0 40px;
    font-size:20px ;
    color: #222222;



}
.znbox1 p{
	float: left;
    width: 260px;
    padding: 15px 0 0 40px;
    font: 14px/14px ;
    color: #222222;



}
.znbox1 span{
	display: block;
    width: 260px;
    padding: 10px 0 0 40px;
    font: 16px/16px ;
    color: #e40077;



}
.znbox1 img{
	position: absolute;
	right:35px;
	top: 10px;
}
.mgyl{
	position: relative;
}
.mgyl .diyilie{
	width: 237px;
    height: 466px;
    border-right: 1px solid #e8e8e8;
    background: #ffffff;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}
.mgyl .diyilie li{
	width: 232px;
    height: 116px;
    border-bottom: 1px solid #e8e8e8;
    border-left: 5px solid #ffffff;


}
.mgyl .diyilie li h4{
	padding: 28px 0 0 23px;
    font: 20px/20px ;
    color: #222222;
}
.mgyl .diyilie li p{
	padding: 18px 0 0 23px;
    font: 14px/14px ;
    color: #808080;
}
.mgyl .diyilie li h4:hover{
	color: #ef2e72;
}
.mgylbox2{
	width: 237px;
    height: 466px;
    border-right: 1px solid #e8e8e8;
    position: absolute;
    top: 0px;
    left: 238px;
}
.mgylbox2_inner{
	width: 217px;
    height: 446px;
    padding: 20px 10px 0;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
}
.mgylbox2_inner h4{
	padding-bottom: 40px;
}
.mgylbox2_inner h4 span:first-child{
	float: left;
    font: 20px/20px ;
    color: #222222;
}
.mgylbox2_inner h4 span:last-child{
	float: right;
	font-size: 16px;
}
.mgylbox2_inner h4 em{
	font-style: normal;
}
.juti{
	margin: 0 auto;
}
.clearfix{
	width: 217px;
	margin: 0 auto 8px;

	height: 70px;
}
.clearfix dt{
	float: left;
	width: 70px;
}
.clearfix dd{
	float: left;
	width: 147px;
}
.clearfix dd h5{
	float: left;
    width: 137px;
    padding-top: 15px;
    padding-left: 10px;
    font: 16px/16px "microsoft yahei";
    color: #333333;

    overflow: hidden;

}
.clearfix dd p{
	float: left;
    width: 137px;
    padding-top: 9px;
    padding-left: 10px;
    font: 14px/14px "microsoft yahei";
    color: #808080;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mgylbox3{
	width: 722px;
    height: 468px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;

}
.mgbox3-top{
	width: 710px;
    height: 210px;
    margin: 6px auto;
    overflow: hidden;

  
}
.mgbox3-top .mgimg{
	  position: relative;
}
.mgbox3-top .mgimg li a{
	display: block;
	width:710px;
	height: auto;
}
.mgbox3-top .mgimg li{
	width: 710px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.mgbox3-top .mgimg .active{
	opacity: 1;
}
.cricle{
	width: 60px;
	height: 20px;
	background: #BBBBB9;
	z-index: 999999;
	position: absolute;
	left: 50%;
	top:190px;
	border-radius: 10px;
}
.cricle1{
	width: 60px;
	height: 20px;
	display: flex;
	justify-content: space-around;
}
.cricle2{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #5D5D5C;
	margin-top: 5px;
}
.mgbox3-top .cricle .cricle1 .active{
	background: #E40078;
}
.cricle .cricle2:hover{
	background: #E40078;
	
}
.mgbox3-bottom{
	    width: 722px;
    height: auto;
    margin: 0 auto;
    border-top: 1px solid #e8e8e8;

}
.mgbox3-bottom h4 span:first-child{
	float: left;
    font: 20px/20px "microsoft yahei";
    color: #222222;
    padding: 20px;
}
.mgbox3-bottom h4 span:last-child{
	float: right;
	padding: 20px;
}
.mgbox3-bottom h4 span em{
	font-style: normal;
	font: 16px/20px "microsoft yahei";
}
.mgbox3-juti{
	width: 722px;
    height: 146px;
    margin: 0 auto;
    overflow: hidden;

}
.hezi1{
	    float: left;
    width: 120px;
    height: 144px;
    margin-left: 20px;

}
.hezi1 p{
	float: left;
    width: 120px;
    padding-top: 5px;
    font: 14px/14px "microsoft yahei";
    text-align: center;



}
.spacial{
	width: 1200px;
	margin: 0 auto;

}	
.spacial h2{
	padding: 40px 0 30px;
    margin: 0 auto;
    font: 22px/22px "microsoft yahei";
    color: #222222;
}
.tese{
	width: 299px;
	height: 80px;
	float: left;
	padding-bottom: 40px;
}
.tspicture{
	float: left;width: 80px;
	height: 80px;
}
.tspicture a{
	display: block;
}
.tswenzi{    
	float:left;
    width: 199px;
    padding-left: 20px;
}
.tswenzi a{
	display: block;
}
.tswenzi h4{
	width: 100%;
    padding-top: 15px;
    font: 18px/18px "microsoft yahei";
    color: #222222;

    overflow: hidden;

}
.tswenzi p{
	width: 100%;
    padding-top: 11px;
    font: 14px/14px "microsoft yahei";
    color: #808080;

    overflow: hidden;

}
.gonggao{
	width: 1198px;
    height: 38px;
    margin: 10px auto 0;
    border: 1px solid #dfdfdf;
    font-size: 14px;
    line-height: 38px;
    overflow: hidden;

}
.gonggao span{
	    display: block;
    float: left;
    width: 50px;
    padding-left: 50px;
    background: url(../../images/index5/indexgg.gif) no-repeat 20px center;
    color: #666;
}
.gonggao ul{
	    float: left;
    width: 1000px;
    margin: 0;
}
.gonggao ul li{
	
    float: left;
    width: 470px;
    padding: 0 10px 0 20px;
    background: url(../../images/index5/indexgg.png) no-repeat 5px center;
}
.gonggao ul li a{
	display: block;
}
.gonggao ul li p{
	float: left;
}
.gonggao ul li em{
    float: left;
    display: block;
    width: 130px;
    padding-left: 10px;
    font: normal 14px/38px "microsoft yahei";
    color: #d5cccc;
    background: none;
}
.gz{
	width: 1198px;
    margin: 10px auto 0;
    padding-bottom: 18px;
    border: 1px solid #dfdfdf;
    overflow: hidden;
}
.gz h3{
	margin: 0 auto;
	padding-top: 10px;
}
.gz h3 a{
	float: right;
    display: block;
    font: 12px/12px "microsoft yahei";
    padding: 0 15px 0 0;
    color: #666666;
}
.gz .aa{
	float: left;
    display: block;
    padding: 7px 20px 0 23px;
}
.gz span img{
	width: 48px;
	height: 48px;
}
.gz ul{
	width: 1000px;
	margin: 0;
	float: left;

}
.gz ul li{
	float: left;
    width: 470px;
    padding: 0 10px 0 20px;
    font: 14px/28px "microsoft yahei";
}
.gz ul li em{
	float: left;
}
.gz ul li a{
	float: left;
	width: 330px;
	color: black;
	
}
.gz ul li span:last-child{

	float: left;
    width: 120px;
    padding-left: 10px;
    color: #d5cccc;
    background: none;
}
.dibu{
	    width: 1163px;
    margin: 10px auto 0;
    border: 1px solid #dfdfdf;
    padding: 20px 0 20px 35px;
    display: flex;
    justify-content: space-between;

}
.dibu-list{
	width: 20%;
	
}
.dibu-list h2{
	font: bold 15px/27px "微软雅黑";
    color: #666;
    margin: 0;
    height: 27px;
}
.listbox a{
	
	display: block;
    font-size: 15px;
    line-height: 180%;
	color:#666;
}
.footer{
	width: 100%;
	padding: 20px 0;
	text-align: center;
	font-size: 12px;
	color: #666666;
}
.row1{
	color: #666;
	line-height: 33px;
}
.nn{
	display: inline-block;
	text-align: center;
}
.cedh{
    width: 32px;
    height: 240px;
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -660px;
    display: none;
    z-index: 999;
    background: white;
}
.cedh ul{
	font-size: 12px;
	height: 240px;
	 color: #333333;
}
.cedh ul .btn{
	width: 28px;
    height: 39px;
    padding: 0 2px;
   
    text-align: center;
    line-height: 39px;
    border-bottom: 1px dotted yellow;

    position: relative;
    box-sizing: content-box!important;
    cursor: pointer;
}

.cedh .back{
	width: 32px;
	height: 54px;
	background: #918888;
	cursor: pointer;
	overflow: hidden;
}
.cedh .back img{
	display: block;
	width: 7px;
	height: 4px;
	margin: 0 auto;
	margin-top: 7px;
}
.cedh .back span{
	display: block;
	width: 28px;
	height: 30px;
	font-size: 12px;
	color: #fff;
	line-height: 15px;
	padding-top: 5px;
	text-align: center;
	margin: 0 auto;
}
.cedh ul .active{
	background: #00b0f9;
	color: white;
}
.cedh .cd .btn span{
	display: none;
	height: 39px;
	position: absolute;
	top:0;
	left: 0;
	font-size: 12px;
	color: #FFFFFF;
	background: #00b0f9;
	line-height: 15px;
	padding-top: 5px;
}

.cedh ul li:hover span{
	display: block;
}
.cedh ul li span.active{
	display: block;
}
/*.btn:last-child span{
	display: block;
    width: 28px;
    height: 30px;
    padding: 15px 2px 9px;
    font: 12px/15px "microsoft yahei";
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0px;
    color: #ffffff;
    background: #918888 url(../../images/index5/slidedown4.png) no-repeat center 7px;
    box-sizing: content-box!important;
}*/
.cedh ul li:hover{
	background: #00b0f9;
	
}
.d{
	width: 100%;
	height: 60px;
	background: rgba(255,255,255,0.9);
	position:fixed ;
	z-index: 999;
	top: 0;
	left: 0;
	border-bottom: 1px solid #24A7F9;
	display: none;
}
.dn{
	width: 1200px;
	height: 60px;
	margin: 0 auto;
	background: white;
}
.chinalog{
	    float: left;
    width: 230px;
    height: auto;
    margin: 9px 0 0 0
}
.asd{
	float: left;
    height: 50px;
    padding-top: 11px;
    padding-left: 45px;

}
.top012{
	    float: left;
    height: 50px;
    padding: 0 17px;
}
.top012 a{
	display: block;
    height: 33px;
    padding: 0 7px;
    font: 16px/33px "microsoft yahei";
    color: #222222;
    background: #ffffff;
    border-radius: 5px;
}	
.asd .active{
	background:#2BA7FF ;
	color: white;
}
.top012 a:hover{
	background:#2BA7FF ;
	color: white;
	
}
.head2_search{
	float: right;
    width: 287px;
    height: 45px;
    padding-top: 11px;
    margin-right: 50px;
}
.head2_search .input{

    padding-top: 0px;
    position: relative;
    width: 100%;
    height: 34px;
    box-sizing: border-box;
    background: url(../img/searchBg_t.jpg) no-repeat left center;
}
.head2_search .input .sousuo{
	outline: none;
    border: 0;
    color: #666666;
    height: 28px;
    width: 200px;
    margin-top: 3px;
    margin-left:5px;
    padding-left: 5px;
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 0px;
    float: left;
    border: 1px solid #25B2FE;
    border-right: none;
}
.head2_search .btn{
    width: 80px;
    height: 36px;
    float: right;
    box-sizing: border-box;
    /*background: #000000;*/
}
.head2_search .btn .tijiao{
	width: 80px;
    height: 28px;
    margin-left: 0px;
    margin-top: 3px;
    padding: 0px;
    border: none;
    background: #25b2fe;
    text-align: center;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
	
